---
layout: default
---

<header class="clearfix">
  <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
    <h1 class="h0 inline-block py-2 mt-4 header-title">{{ page.title }}</h1>
    <div class="clearfix mb-4 py-1">
      <p class="h3 lh-condensed font-smoothing">{{ site.description }}</p>
      <div class="col-1 sm-width-full border-top-thick">
      </div>
    </div>
  </div>
</header>

<div id="main" class="container clearfix mx-auto px-2">
    {{ content }}
</div>

<div class="container mx-auto px-2 py-2 clearfix">
  {% include previous-next.html %}
</div>
<div class="container mx-auto px-2 py-2 clearfix">
  <a class="no-underline-hover py-1 block" style="color:#841212;" href="{{ site.baseurl}}/indice">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg> <span class="h5">Volver al Índice</span>
  </a>
</div>

<script>
    // 'load' para que el mapa cargue primero sus marcas
    window.addEventListener('load', function() {
        const mainEl = document.getElementById("main");
        const params = new URLSearchParams(window.location.search);
        const query = params.get("q");

        if (mainEl && query) {
            const escaped = query.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            const tagPattern = "(?:<[^>]+>)*";
            const body = escaped
                .split(/\s+/)
                .map(word => word.split('').join(tagPattern))
                .join(tagPattern + "[\\s\\n\\r]+" + tagPattern);
            
            const regex = new RegExp("(" + body + ")", "gim");
            
            // Buscamos en rimas, notas y también en títulos (h1, h2, h3)
            const targets = mainEl.querySelectorAll(".rhyme p, .gloss p, h1, h2, h3, h4");
            
            targets.forEach(el => {
                if (regex.test(el.innerHTML)) {
                    el.innerHTML = el.innerHTML.replace(regex, "<mark>$1</mark>");
                }
            });
        }
    });
</script>